@font-face {
  font-family: 'Rancher';
  src: url('/fonts/Ranchers/Ranchers-Regular.ttf') format('truetype');
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: darkgreen;
  background-color: rgb(157, 216, 255);
}

h1 {
  font-family: Rancher;
  color: salmon;
}

table {
  background-color: rgba(255, 255, 47, 0.829);
}

th, td {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(9, 41, 41);
}

